.about {
  padding-top: 150px;

  .about-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .about-hero-left {
      flex: 1;

      h2 {
        margin-bottom: 20px;
        max-width: 600px;
        font-size: 40px;
        color: #0056b3;
        text-shadow: 2px 1px 4px blue;
      }
    }

    .about-hero-right {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        width: 400px; /* Increased width */
        height: 400px; /* Increased height */
        border-radius: 50%; /* Circular shape */
        object-fit: cover; /* Ensure the image covers the area */
        object-position: top; /* Focus on the top part of the image */
      }
    }
  }

  .gallery {
    margin-top: 50px;

    h2 {
      text-align: center;
      margin-bottom: 60px;
      color: #0056b3;
    }

    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .video-section {
    margin-top: 50px;
    text-align: center;

    .video-container {
      position: relative;
      max-width: 500px;
      margin: 0 auto;

      video {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 10px;
      }

      .video-controls {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          background-color: #007bff;
          color: white;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}

@media (max-width: 608px) {
  .about {
    .container {
      .about-hero {
        flex-direction: column;
        padding-top: 90px;
        text-align: center;

        .about-hero-left {
          h2 {
            font-size: 24px; /* Adjust the font size for smaller screens */
          }
        }

        .about-hero-right {
          img {
            width: 250px; /* Adjust the size for smaller screens */
            height: 250px; /* Adjust the size for smaller screens */
          }
        }
      }
    }
  }
}
