.contacts {
  padding: 20px;
  background-image: url("../../assets/images/contact2.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  display: flex;
  padding-top: 200px;

  flex-direction: column;
  justify-content: flex-start; // Align items to the start
  align-items: flex-start; // Align items to the start
  position: relative;

  .container {
    border-radius: 10px;
    text-align: left; // Align text to the left
    width: 100%;
    max-width: 600px; // Set a max width for the container
    padding: 20px; // Add padding to the container
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(4, 4, 4, 0.6); // Add box-shadow
    backdrop-filter: blur(10); // Add background color with transparency
    margin-left: 0; // Ensure the container starts from the left
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #c7b900;
  }

  .contact-message {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Align items to the start

    input,
    button {
      width: 100%;
      max-width: 300px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      font-size: 16px;
    }

    button {
      cursor: pointer;
      background-color: #003366;
      border: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #001f4d;
      }
    }
  }
}

.call {
  a {
    color: aqua;
    font-size: 30px;
    margin: 20px 0;
  }
}

.note {
  padding-top: 20px;
  color: rgb(255, 99, 99);
}
