main {
  .works {
    padding-bottom: 100px;
    background: linear-gradient(
        to left top,
        rgba(86, 217, 250, 0.95) 50%,
        transparent 50%
      ),
      linear-gradient(
        to right top,
        rgba(86, 217, 250, 0.95) 50%,
        transparent 50%
      );

    &-title {
      text-align: center;
      margin: 100px 40px;
      text-shadow: 1px 1px 4px rgb(13, 3, 44);
    }

    .works-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      padding: 20px;

      @media (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }

      &-items {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 320px;
          border: 2px solid rgb(86, 217, 250);
          transition: opacity 0.3s ease;
        }

        h4,
        p {
          color: rgb(119, 152, 11);
          position: absolute;
          bottom: 10%;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: bottom 0.3s ease, opacity 0.3s ease;
        }

        h4 {
          bottom: 40%;
        }

        &:hover img {
          opacity: 0.3;
        }

        &:hover h4,
        &:hover p {
          opacity: 1;
        }
      }
    }
  }
}
